*.o
*~
*.swp
*.swo
autoconf/Make.common
config.log
config.out
config.status
libtool
src/bedup
src/burp
src/config.h
/autom4te.cache/
/Makefile
/autoconf/Make.common2
/manpages/Makefile
/src/Makefile
/src/client/Makefile
/src/client/monitor/Makefile
/src/client/protocol1/Makefile
/src/client/protocol2/Makefile
/src/protocol1/Makefile
/src/protocol2/Makefile
/src/protocol2/rabin/Makefile
/src/server/Makefile
/src/server/monitor/Makefile
/src/server/protocol1/Makefile
/src/server/protocol2/Makefile
/src/server/protocol2/champ_chooser/Makefile
/src/yajl/Makefile
/aclocal.m4
/autoconf/ltmain.sh
/autoconf/m4/libtool.m4
/autoconf/m4/ltoptions.m4
/autoconf/m4/ltsugar.m4
/autoconf/m4/ltversion.m4
/autoconf/m4/lt~obsolete.m4
/config.h.in
/configure
